.container {
    width: 1200px;
    margin: 0 auto;
}

.hero {
    display: flex;
    flex-direction: column;
    padding: 8rem 0;
}

.chamada__titulo {
    font-family: var(--font-exo);
    font-weight: 700;
    font-size: 3.875rem;
    line-height: 88.8px;
    color: var(--azul-principal);
    /* width: 543px; */
    padding-bottom: 2rem;
}

.chamada__texto {
    font-family: var(--font-raleway);
    font-size: 1.375rem;
    line-height: 28.6px;
    /* width: 506px; */
    margin-bottom: 48px;
}

.hero__email {
    background-color: var(--branco);
    border: transparent;
    border-radius: 24px;
    padding: 1rem;
    
}

.hero__email::placeholder {
    font-family: var(--font-exo);
    font-size: 14px;
    text-align: center;
    background: url(/assets/carta.svg) no-repeat;
    background-position: 1rem;
    background-size: contain;
}