.container {
    width: 1200px;
    margin: 0 auto;
}

.hero {
    display: flex;
    padding: 8rem 0;
}

.chamada__titulo {
    font-family: var(--font-exo);
    font-weight: 700;
    font-size: 3.875rem;
    line-height: 88.8px;
    color: var(--azul-principal);
    width: 543px;
    padding-bottom: 2rem;
}

.chamada__texto {
    font-family: var(--font-raleway);
    font-size: 1.375rem;
    line-height: 28.6px;
    width: 506px;
}